:root{
    /* ## Colors

    ### Theme 1

    #### Backgrounds */

--Very-dark-desaturated-blue : hsl(222, 26%, 31%);
--Very-dark-desaturated-blue : hsl(223, 31%, 20%);
--Very-dark-desaturated-blue : hsl(224, 36%, 15%);

    /* #### Keys */

--Desaturated-dark-blue : hsl(225, 21%, 49%);
--Desaturated-dark-blue : hsl(224, 28%, 35%);

--Red : hsl(6, 63%, 50%);
--Dark-red : hsl(6, 70%, 34%);

--Light-grayish-orange : hsl(30, 25%, 89%);
--Grayish-orange : hsl(28, 16%, 65%);

/* #### Text */

--Very-dark-grayish-blue: hsl(221, 14%, 31%);
--White: hsl(0, 0%, 100%);

/* ### Theme 2

#### Backgrounds */

--Light-gray : hsl(0, 0%, 90%);
--Grayish-red : hsl(0, 5%, 81%);
--Very-light-gray : hsl(0, 0%, 93%);

/* #### Keys */

--Dark-moderate-cyan: hsl(185, 42%, 37%);
--Very-dark-cyan : hsl(185, 58%, 25%);

--Orange: hsl(25, 98%, 40%);
--Dark-orange: hsl(25, 99%, 27%);

--Light-grayish-yellow : hsl(45, 7%, 89%);
--Dark-grayish-orange : hsl(35, 11%, 61%);

/* #### Text */

--Very-dark-grayish-yellow: hsl(60, 10%, 19%);
--White : hsl(0, 0%, 100%);

/* ### Theme 3

#### Backgrounds */

--Very-dark-violet : hsl(268, 75%, 9%);
--Very-dark-violet : hsl(268, 71%, 12%);

/* #### Keys */

--Dark-violet : hsl(281, 89%, 26%);
--Vivid-magenta : hsl(285, 91%, 52%);

--Pure-cya : hsl(176, 100%, 44%);
--Soft-cyan : hsl(177, 92%, 70%);

--Very-dark-violet : hsl(268, 47%, 21%);
--Dark-magenta : hsl(290, 70%, 36%);

/* #### Text */

--Light-yellow: hsl(52, 100%, 62%);
--Very-dark-blue: hsl(198, 20%, 13%);
--White : hsl(0, 0%, 100%);
}



*{
    background-color: var(--Desaturated-dark-blue);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.text{
  text-align: center;
}

.input{
    padding: 100px;
    text-align: center;
}

.inpt{
    color: white;
    border-radius: 10px;
    background-color: var(--Very-dark-desaturated-blue);
    border: none;
    width: 300px;
    height: 60px;
}

/* .tudo{
    background-color: hsl(223, 31%, 20%);
} */



.btn-circol{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.btn-bola{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
    background-color: hsl(225, 21%, 49%);
    width: 60px;
    border-radius: 20px;
}



.button{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.sete{
    margin-right: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    background-color: hsl(30, 25%, 89%);
    border-radius: 10px;
    width: 72px;
    height: 40px;
}

.oito{
    margin-right: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
    background-color: hsl(30, 25%, 89%);
    border-radius: 10px;
    width: 72px;
    height: 40px;
}

.nove{
    margin-right: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
    background-color: hsl(30, 25%, 89%);
    border-radius: 10px;
    width: 72px;
    height: 40px;
}

.quatro{
    margin-right: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    background-color: hsl(30, 25%, 89%);
    border-radius: 10px;
    width: 72px;
    height: 40px;
}

.cinco{
    margin-bottom: 10px;
    margin-right: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
    background-color: hsl(30, 25%, 89%);
    border-radius: 10px;
    width: 72px;
    height: 40px;
}

.seis{
    margin-bottom: 10px;
    margin-right: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    background-color: hsl(30, 25%, 89%);
    border-radius: 10px;
    width: 72px;
    height: 40px;
}

.um{
    margin-bottom: 10px;
    margin-right: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    background-color: hsl(30, 25%, 89%);
    border-radius: 10px;
    width: 72px;
    height: 40px;
}

.dois{
    margin-bottom: 10px;
    margin-right: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    background-color: hsl(30, 25%, 89%);
    border-radius: 10px;
    width: 72px;
    height: 40px;
}

.tres{
    margin-bottom: 10px;
    margin-right: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    background-color: hsl(30, 25%, 89%);
    border-radius: 10px;
    width: 72px;
    height: 40px;
}

.del{
    margin-bottom: 10px;
    margin-right: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    background-color: hsl(228, 45%, 44%);
    border-radius: 10px;
    width: 72px;
    height: 40px;
}

.div{
    margin-bottom: 10px;
    margin-right: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    background-color: hsl(30, 25%, 89%);
    border-radius: 10px;
    width: 72px;
    height: 40px;
}

.vezes{
    margin-bottom: 10px;
    margin-right: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    background-color: hsl(30, 25%, 89%);
    border-radius: 10px;
    width: 72px;
    height: 40px;
}

.menos{
    margin-bottom: 10px;
    margin-right: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    background-color: hsl(30, 25%, 89%);
    border-radius: 10px;
    width: 72px;
    height: 40px;
}

.mais{
    margin-bottom: 10px;
    margin-right: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    background-color: hsl(30, 25%, 89%);
    border-radius: 10px;
    width: 72px;
    height: 40px;
}

.zero{
    margin-bottom: 10px;
    margin-right: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    background-color: hsl(30, 25%, 89%);
    border-radius: 10px;
    width: 72px;
    height: 40px;
}

.ponto{
    margin-bottom: 10px;
    margin-right: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  
    background-color: hsl(30, 25%, 89%);
    border-radius: 10px;
    width: 72px;
    height: 40px;
}

.reset{
    margin-bottom: 10px;
    margin-right: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    background-color: hsl(228, 45%, 44%);
    border-radius: 10px;
    width: 150px;
    height: 40px;
}

.igual{
    margin-bottom: 10px;
    margin-right: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    background-color: hsl(6, 63%, 50%);
    border-radius: 10px;
    width: 144px;
    height: 40px;
}

label{
    align-items: center;
}


.switch {
    display: block;
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    --size-of-icon: 1.4em;
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
}
  